<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="simple_robot">

  <!-- Properties -->
  <xacro:property name="link_length" value="0.05"/>
  <xacro:property name="link_radius" value="0.05"/>

  <!-- Optional Gazebo-specific settings -->
  <xacro:include filename="$(find gazebo_simulation)/urdf/robot.gazebo" />
  <xacro:include filename="$(find gazebo_simulation)/urdf/ros2_control.xacro" />
    
  <!-- Dummy root link -->
  <!-- <link name="dummy"/>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="base_link"/>
  </joint> -->
  <!-- Fixed joint to world -->
  <!-- <joint name="base_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <link name="world">
    <visual>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/models/toilet.stl" scale="0.0025 0.0025 0.0025"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/models/toilet.stl" scale="0.0025 0.0025 0.0025"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="world" type="fixed">
    <parent link="world"/>
    <child link="curved"/>
    <origin xyz="0 0.2 0.5" rpy="0 0 0"/>
  </joint>

  <link name="curved">
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Revolute joint to create curved (arc) motion -->
  <joint name="joint_curved" type="revolute">
    <parent link="curved"/>
    <child link="curved_offset"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/> <!-- rotation around Z axis -->
    <limit lower="0" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <!-- Offset link defines the radius of curvature -->
  <link name="curved_offset">
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Fixed joint to place the robot base at the end of the curved arm -->
  <joint name="base_fixed" type="fixed">
    <parent link="curved_offset"/>
    <child link="base_link"/>
    <origin xyz="0.19 0 0" rpy="0 0 0"/> <!-- radius of curved motion -->
  </joint>
  
  <!-- Base link -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Baselink.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Baselink.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Joint Base -->
  <joint name="joint_base" type="revolute">
    <parent link="base_link"/>
    <child link="link_1"/>
    <origin xyz="0 0 0.0485" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="1" velocity="1"/>
  </joint>

  <!-- Second link -->
  <link name="link_1">
    <visual>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.18"/>
      <inertia ixx="0.00034" iyy="0.00034" izz="0.00017" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Joint between base_link and link_1 -->
  <joint name="joint_1" type="revolute">
    <parent link="link_1"/>
    <child link="link_2"/>
    <origin xyz="0 0 0.08086" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="1" velocity="1"/>
  </joint>

  <!-- Third link -->
  <link name="link_2">
    <visual>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
    </collision>
    <inertial>
      <mass value="0.18"/>
      <inertia ixx="0.00034" iyy="0.00034" izz="0.00017" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Joint between link_1 and link_2 -->
  <joint name="joint_2" type="revolute">
    <parent link="link_2"/>
    <child link="link_3"/>
    <origin xyz="0 0 0.21676113" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="1" velocity="1"/>
  </joint>

   <!-- Fourth link -->
  <link name="link_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.13"/>
      <inertia ixx="0.00048" iyy="0.00048" izz="0.00024" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Joint between link_2 and link_3 -->
  <joint name="joint_3" type="revolute">
    <parent link="link_3"/>
    <child link="link_4"/>
    <origin xyz="0 0 0.280488" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="1" velocity="1"/>
  </joint>

  <!-- Fifth link -->
  <link name="link_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/Link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016"/>
      <inertia ixx="0.00008" iyy="0.00008" izz="0.00004" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Joint between link_3 and link_4 -->
  <joint name="joint_4" type="revolute">
    <parent link="link_4"/>
    <child link="link_5"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="1" velocity="1"/>
  </joint>

  <!-- Sixth link -->
  <link name="link_5">
    <visual>
      <origin xyz="0 0 0.0435" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/BaseLink5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.0435" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/meshes/RobotArm/BaseLink5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016"/>
      <inertia ixx="0.00008" iyy="0.00008" izz="0.00004" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


</robot>
